service cloud.firestore {
  match /{planting_location=**} {
    allow read, write;
  }

  match /databases/{database}/planting_locations {
    match /{planting_location=**} {
      allow read, write;
    }
  }
}
